.svg-icon{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.svg-icon svg{
	width: 1em;
}

.svg-icon .path{
	fill: #000000;
}

.svg-icon .path.fade{
	opacity: 0.3
}

.svg-icon.blue .path{
	fill: #3699FF;
}

.svg-icon.green .path{
	fill: #1BC5BD;
}

.svg-icon.red .path{
	fill: #F64E60;
}

.svg-icon.orange .path{
	fill: #FFA800;
}

.svg-icon.purple .path{
	fill: #8950FC;
}

.svg-icon.gray .path{
	fill: #868DB3;
}

.svg-icon.white .path{
	fill: #FFFFFF;
}

.svg-icon .stroke{
	fill: none;
	stroke: #000000;
}

.svg-icon.blue .stroke{
	stroke: #3699FF;
}

.svg-icon.green .stroke{
	stroke: #1BC5BD;
}

.svg-icon.red .stroke{
	stroke: #F64E60;
}

.svg-icon.orange .stroke{
	stroke: #FFA800;
}

.svg-icon.purple .stroke{
	stroke: #8950FC;
}

.svg-icon.gray .stroke{
	stroke: #868DB3;
}

.svg-icon.white .stroke{
	fill: #FFFFFF;
}