/* C = changeable; R = removeable */

/** fluid container **/
html{
	font-size: 10px; -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*{box-sizing: border-box;}
*:before,
*:after{
  box-sizing: border-box;
}

body{
	padding: 0; margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color: #333333;
}

.container-fluid{
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid:before,
.container-fluid:after{
  content: " ";
  display: table;
}

.container-fluid:after{clear: both;}
/********/


.navbar{
	position: fixed; top: 0; left: 0; overflow: hidden; padding: 0; margin: 0; 
	width: 100%;
	/* C - navbar text size*/
	font-size: 1.8rem;
	/* C - navbar background color */
	background-color: #1E1E1E;
}

.openItems{
	display: none; 
	/* C - padding inside button, also the width and height of it*/
	padding: 0.63rem 0.6rem 0.1rem 0.6rem;
	/* C - button's margin, positioning the button inside the navbar*/
	margin: 0.7rem 1rem;
	/* C - button's border */
	border-radius: 5px; border: 0.3rem solid #E3E3E3;
}
.closeItems{
	display: none; 
	/* C - padding inside button, also the width and height of it*/
	padding: 0.63rem 0.6rem 0.1rem 0.6rem;
	/* C - button's margin, positioning the button inside the navbar*/
	margin: 0.7rem 1rem;
	/* C - button's border */
	border-radius: 5px; border: 0.3rem solid #E3E3E3;
}
/* open and close navbar item button position */
.openItems.left{float: left;}
.openItems.right{float: right;}
.closeItems.left{float: left;}
.closeItems.right{float: right;}

/* open and close item button's icon */
.openIcon, .closeIcon{width: 2.2rem;}
.openIcon path, .closeIcon path{fill: #E3E3E3;}
/* navbar items container */
.navItems{
	padding: 0; margin: 0; background-color: #1E1E1E; 
	transform: translateX(0px);
}
/* navbar items position */
.navItems.left{float: left;}
.navItems.right{float: right;}
/* navbar links container */
.navbar ul{list-style-type: none; padding: 0; margin: 0;}
.navbar li{float: left; padding: 0; margin: 0;}
/* navbar links */
.navbar li > a{
	display: inline-block; 
	padding: 0.9em 1.1em; /* C - navbar links padding, width and height of the links, also width and height of navbar items container */
	margin: 0;
	/* C - navbar links text, color and background color */ 
	text-decoration: none; 
	transition: background-color 0.2s ease; 
	color: white;
}
/* style navbar links when hovered, and when user at the corresponding link */
.navbar li > a:hover, .navbar li > a.active{background-color: #5D7187;}

@media screen and (min-width: 1281px){
	html{font-size: 12px;}
}
@media screen and (max-width: 1280px){
	html{font-size: 10px;}
}

@media screen and (max-width: 800px){
	html{font-size: 9px;}
	/* show open and close navbar item button */
	.openItems, .closeItems{display: block;}
	/* navbar items container looks when VP < 800 px */
	.navItems{
		position: fixed; top: 0; height: 100vh;
	}
	/* navbar items container position when VP < 800 px */
	.navItems.left{left: 0; 
		transform: translateX(-150px); /* C - hide navbar items container, according to the navbar items container */
	}
	.navItems.right{right: 0; 
		transform: translateX(150px); /* C - hide navbar items container, according to the navbar items container */
	}
	.navItems.trans{transition: transform 0.3s ease;}
	.navItems.showed{
	transform: translateX(0px);
	}
	.navbar li{float: none;}
	/* C - navbar links padding, width and height of the links, also width and height of navbar items container 
	when VP < 800px
	*/
	.navbar li > a{padding: 0.9em 5.1em 0.9em 0.9em;}
}
