.navFixedLeft{
  position: fixed; top: 0px; left: 0px;
  width: 100%;
  height: auto;
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  z-index: 1;
}
.navFixedLeft > .container-fluid{
  padding: 0px; 
}
.openLinksBtn{
    display: block; 
}
.openLinksBtn > button{
  padding: 10px 10px 5px 10px;  
  border: 1px solid black; 
  border-radius: 5px;
  margin: 7px; 
  font-size: 20px; 
  color: black; 
  background-color: transparent;
}

.navLinks{
  position: fixed; top: 0; left: 0; 
  padding: 10px 10px 0px 10px;
  max-width: 290px;height: 100vh;
  margin: 0px; 
  text-align: center; 
  text-align: left;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  transform: translateX(-400px);
}

.navLinks h3{
  color: black;
}

.closeLinksBtn{
  text-align: right; 
}

.closeLinksBtn > button{
  border: 2.3px solid black;
  border-radius: 5px; 
  padding: 0px 15px; 
  font-size: 30px; 
  color: black; 
  background-color: transparent; 
}

.sectionPosition{
  padding-left: 0px; 
}
nav + .sectionPosition{
  padding-top: 70px;
}


@keyframes slideNavLinks{
  0%{transform:  translateX(-400px);}
  100%{transform:  translateX(0px);}
}

@keyframes slideSection{
  0%{transform:  translateX(0px);}
  100%{transform:  translateX(400px);}
}

.slideRightNavLinks{
  animation: slideNavLinks 0.3s linear;
  animation-fill-mode: forwards;
}
.slideLeftNavLinks{
  animation: slideNavLinks 0.3s linear;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}


.hueBtn, .purityBtn{
  padding: 5px; margin-bottom: 3px;
  border-width: 2px; border-style: solid;  
  border-radius: 7px;
  font-weight: 570;
  background-color: transparent;
  transition: all 0.1s linear;
}
.hueBtn{
  width: 100%; 
}

.purityBtn{
  width: 30%;
}

.hueBtn:nth-child(2){
  border-color: teal;
  color: teal;
}
.hueBtn:nth-child(2):hover{
  color: white;
  background: teal;
}
.hueBtn:nth-child(2).selectedHue{
  color: white;
  background: teal;
}
.hueBtn:nth-child(3){
  border-color: mediumslateblue;
  color: mediumslateblue;
}
.hueBtn:nth-child(3):hover{
  color: white;
  background: mediumslateblue;
}
.hueBtn:nth-child(3).selectedHue{
  color: white;
  background: mediumslateblue;
}
.hueBtn:nth-child(4){
  border-color: red;
  color: red;
}
.hueBtn:nth-child(4):hover{
  color: white;
  background: red;
}
.hueBtn:nth-child(4).selectedHue{
  color: white;
  background: red;
}
.hueBtn:nth-child(5){
  border-color: green;
  color: green;
}
.hueBtn:nth-child(5):hover{
  color: white;
  background-color: green
}
.hueBtn:nth-child(5).selectedHue{
  color: white;
  background: green;
}
.hueBtn:nth-child(6){
  border-color: blue;
  color: blue;
}
.hueBtn:nth-child(6):hover{
  color: white;
  background: blue;
}
.hueBtn:nth-child(6).selectedHue{
  color: white;
  background: blue;
}
.hueBtn:nth-child(7){
  border-color: cyan;
  color: cyan;
}
.hueBtn:nth-child(7):hover{
  color: white;
  background: cyan;
}
.hueBtn:nth-child(7).selectedHue{
  color: white;
  background: cyan;
}
.hueBtn:nth-child(8){
  border-color: yellow; 
  color: yellow;
}
.hueBtn:nth-child(8):hover{
  color: black;
  background: yellow;
}
.hueBtn:nth-child(8).selectedHue{
  color: black;
  background: yellow;
}
.hueBtn:nth-child(9){
  border-color: magenta;
  color: magenta;
}
.hueBtn:nth-child(9):hover{
  color: white;
  background: magenta;
}
.hueBtn:nth-child(9).selectedHue{
  color: white;
  background: magenta;
}
.purityBtn{
  border-color: #1E90FF;
  color: #1E90FF;
}
.purityBtn:hover{
  color: white;
  background: #1E90FF;
}
.purityBtn.selectedPurity{
  color: white;
  background: #1E90FF;
}

@keyframes showCanvas{
  0%{transform: translate(100%, 0%); opacity: 0;}
  100%{transform: translate(0%, 0%); opacity: 1;}
}
@keyframes hideCanvas{
  0%{transform: translate(0%, 0%); opacity: 1;}
  100%{transform: translate(-100%, 0%); opacity: 0;}
}
.showCanvas{
  animation: showCanvas 1s ease;
}
.hideCanvas{
  animation: hideCanvas 1s ease;
  animation-fill-mode: forwards;
}
#canvasContainer{
  padding: 80px 0 0 10px;
  z-index: 0;
}
#canvasContainer > .container-fluid{
  padding: 0px; overflow: hidden;
}
.canvas{
  float: left; margin: 10px; width: 23%; height: 250px; font-size: 90%; z-index: 0;
}
.canvas:nth-child(1){
  background: linear-gradient(105deg, #006ada 20%, #004896 100%);
}
.canvas:nth-child(2){
  background: linear-gradient(105deg, #ffba00 20%, #ff9000 100%);
}
.canvas:nth-child(3){
  background: linear-gradient(105deg, #61c7ac 20%, #009D73 100%);
}
.canvas:nth-child(4){
  background: linear-gradient(141.5deg, #0066ac, #33deff 300%);
}
.canvas:nth-child(5){
  background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}
.canvas:nth-child(6){
  background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}
.canvas:nth-child(7){
  background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}
.canvas:nth-child(8){
  background: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
}
.canvas:nth-child(9){
  background: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}
.canvas:nth-child(10){
  background: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}
.canvas:nth-child(11){
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}
.canvas:nth-child(12){
  background: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}
.canvas:nth-child(13){
  background: linear-gradient(-225deg, #7742B2 0%, #F180FF 52%, #FD8BD9 100%);
}
.canvas:nth-child(14){
  background: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
}
.canvas:nth-child(15){
  background: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
}
.canvas:nth-child(16){
  background: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
.canvas:nth-child(17){
  background: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}
.canvas:nth-child(18){
  background: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
}
.canvas:nth-child(19){
  background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
}
.canvas:nth-child(20){
  background: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}
.canvas:nth-child(21){
  background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
}
.canvas:nth-child(22){
  background: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}
.canvas:nth-child(23){
  background: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
}
.canvas:nth-child(24){
  background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
.canvas:nth-child(25){
  background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.canvas:nth-child(26){
  background: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}
.canvas:nth-child(27){
  background: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}
.canvas:nth-child(28){
  background: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}
.canvas:nth-child(29){
  background: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}
.canvas:nth-child(30){
  background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
.canvas:nth-child(31){
  background: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
}
.canvas:nth-child(32){
  background: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
}
.canvas:nth-child(33){
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}
.canvas:nth-child(34){
  background: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}
.canvas:nth-child(35){
  background: linear-gradient(to right, #C1C161 0%, #D4D4B1 100%);
}
.canvas:nth-child(36){
  background: linear-gradient(to right, #EC77AB 0%, #7873F5 100%);
}
.canvas:nth-child(37){
  background: linear-gradient(to top, #007ADF 0%, #00ECBC 100%);
}
.canvas:nth-child(38){
  background: linear-gradient(to right, #D7D2CC 0%, #304352 100%);
}
.canvas:nth-child(39){
  background: linear-gradient(to top, #E14FAD 0%, #F9D423 100%);
}
.canvas:nth-child(40){
  background: linear-gradient(to top, #B224EF 0%, #7579FF 100%);
}
.canvas:nth-child(41){
  background: linear-gradient(60deg, #3D3393 0%, #2B76B9 37%, #2CACD1 65%, #35EB93 100%);
}
.canvas:nth-child(42){
  background: linear-gradient(to top, #DF89B5 0%, #BFD9FE 100%);
}
.canvas:nth-child(43){
  background: linear-gradient(to right, #ED6EA0 0%, #EC8C69 100%);
}
.canvas:nth-child(44){
  background: linear-gradient(to right, #0ACFFE 0%, #495AFF 100%);
}
.canvas:nth-child(45){
  background: linear-gradient(-20deg, #616161 0%, #9BC5C3 100%);
}
.canvas:nth-child(46){
  background: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), 
  linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);

}
.canvas:nth-child(47){
  background: linear-gradient(to right, #00DBDE 0%, #FC00FF 100%);
}
.canvas:nth-child(48){
  background: linear-gradient(to right, #F9D423 0%, #FF4E50 100%);
}
.canvas:nth-child(49){
  background: linear-gradient(to top, #50CC7F 0%, #F5D100 100%);
}
.canvas:nth-child(50){
  background: linear-gradient(-20deg, #FC6076 0%, #FF9A44 100%);
}
.canvas:nth-child(51){
  background: linear-gradient(to top, #DFE9F3 0%, white 100%);
}
.canvas:nth-child(52){
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}
.canvas:nth-child(53){
      background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
      background-blend-mode: normal, color-burn;
}
