*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	scroll-behavior: smooth;
}

body{
	min-height: 100vh;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;	
  	font-size: 1.6rem;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,h2,h3,h4,h5,h6,th{
	font-weight: normal;
}

address{
	font-style: normal;
}

a{
	text-decoration: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

button{
	border: none;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	appearance: none;
}

button:focus{
	outline: none;
}

button:disabled{
	cursor: not-allowed;
}

input, select, textarea{
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
	appearance: none;
}

input:focus, select:focus {
    outline-offset: 0;
}