/*C = changeable; R = removeable*/
html{font-size: 10px;}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #dee2e6;/*C, the first value is relative to '.tabs .tab-item' margin-bottom property*/
}

.tabs .tab-item {
  margin-bottom: 0.6rem;/*C, the value relative to '.tabs .tab-item' margin-bottom property*/
}

.tabs .tab-link {
  border: 1px solid transparent;/*C, the first value is relative to '.tabs .tab-item' margin-bottom property*/
  border-top-left-radius: 0.25rem;/*C*/
  border-top-right-radius: 0.25rem;/*C*/
  font-size: 1.6rem; text-decoration: none;/*C*/
  padding: 0.7rem 1.7rem;/*C*/
}

.tabs .tab-link:hover, .tabs .tab-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;/*C*/
}

.tabs .tab-link.active{
  color: #495057;/*C*/
  background-color: #fff;/*C*/
  border-color: #dee2e6 #dee2e6 #fff;/*C*/
}

.tab-content > .tab-pane {
  display: none;
  font-size: 1.6rem;/*C*/
  opacity: 0;/*C, you can add different effect, like transform*/
  transition: /*C*/opacity/*C*/ 0.3s ease;  /*the opacity is the effect, you can add different effect like transform*/
}

.tab-content > .tab-pane.active {
  display: block;
}
.tab-content > .tab-pane.show{
	opacity: 1;/*the opacity is the effect, you can add different effect like transform*/
}
