*{padding: 0; margin: 0; box-sizing: border-box;}
html{font-size: 10px; font-family: 'Helvetica Neue', sans-serif;}
.container{display: flex; flex-flow: row wrap; justify-content: flex-start;}
.readme{font-size: 1.6rem; padding: 2rem; margin-bottom: 5rem;}
.btn-container{
  display: flex; flex-flow: row wrap; justify-content: center;
  align-items: center; height: 23rem; width: 24%;
}

#clip{opacity: 0;}
/** button 1 **/

.btn1{
  position:relative;
  /*60px --2.307692307692308em*/height: 2.3em; /*changeable*/
  /*190px --7.307692307692308‬em*/width: 7.3em; /*changeable*/
  border: none;
  /*5px --0.1923076923076923em 25px --0.9615384615384615em*/padding: 0.2em 0.1em; /*changeable -- change this value to change button padding*/
  font-size: 2rem; /*changeable - change this value to change button font-size*/
  cursor: pointer; /*changeable - change this value to change button pointer*/
  outline: none;
  background: #1AAB8A; /*changeable - change this value to change button background color*/
  color: #fff; /*changeable - change this value to change button font color*/
  transition: 800ms ease background, 800ms ease color;
}
.btn1:hover{
  background: #fff; /*changeable - change this value to change button background color when hovered*/
  color: #1AAB8A; /*changeable - change this value to change button font color when hovered*/
}
.btn1:before, .btn1:after{  
  position:absolute;
  top: 0;
  right: 0;
  width: 0;
  /*2px --0.0769230769230769‬em*/height: 0.2rem; /*changeable - change this value to change button's top and bottom border width*/
  content:'';
  background: #1AAB8A;
  transition: 400ms ease all;
}
.btn1:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn1:hover:before, .btn1:hover:after{
  width: 100%;
  transition: 800ms ease all;
}
/*Modal Container*/
.modal{
  position: fixed; top: 0; left: 0; display: none; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; 
  -ms-flex-line-pack: center; 
      align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
  width: 100%; height: 100vh;
  background-color: transparent;
}
/*Popped modal container*/
.modal.popped{display: -webkit-box;display: -ms-flexbox;display: flex;}

/*Hidden modal Content*/
.modalContent{
  position: relative; overflow: hidden; max-height: 100%;
  text-align: left; color: #565555;
  border-radius: 20px;
  -webkit-box-shadow: 0 0px 38px rgba(0,0,0,0.30), 0 0px 12px rgba(0,0,0,0.22);
          box-shadow: 0 0px 38px rgba(0,0,0,0.30), 0 0px 12px rgba(0,0,0,0.22);
  opacity: 0;
  -webkit-transform: translate3d(0, -10%, 0);
          transform: translate3d(0, -10%, 0);       
 -webkit-animation-duration: 0.4s; animation-duration: 0.4s;
 -webkit-animation-direction: alternate; animation-direction: alternate;
 -webkit-animation-iteration-count: 2; animation-iteration-count: 2; 
  -webkit-animation-fill-mode: both; 
          animation-fill-mode: both;
}

/*Hide modal content animation*/

/*Shown modal Content*/
.popped > .modalContent.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

/*Modal heading*/

/*Modal body*/
.modalBody{
  display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
  height: 12rem; width: 22rem;
  padding: 3rem 2.5rem 0; margin-top: -2.5rem;
  border-radius: 27px 27px 20px 20px; font-size: 2.2rem;
  text-align: center;
  background-color: #F2F7FF;
}

/*Show modal content animation*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/****/

/** button2 **/

a.btn2_1, a.btn2_2{
    display: block;
    width: 12.9em; /* changeable */
    border-radius: 0.3em; /* changeable */
    padding: 1.43em 2.14em; /* changeable */
    font-size: 1.6rem;
    text-align: center; /* changeable */
    text-decoration: none; /* changeable */
    /* the only changeable in these tansition properties is duration value */
    outline: none;
    -webkit-transition: all 0.3s cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 0.3s cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 0.3s cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 0.3s cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 0.3s cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

a.btn2_1 {
    color: rgba(30, 22, 54, 0.6); /* changeable */
    /* the color value in box-shadow property is chageable */
    box-shadow: rgba(30, 22, 54, 0.4) 0 0 0 0.14em inset; 
}

a.btn2_1:hover {
    color: rgba(255, 255, 255, 0.85); /* changeable */
    /* the color value in box-shadow property is chageable */
    box-shadow: rgba(30, 22, 54, 0.7) 0 0 0 2.85em inset;
}

a.btn2_2 {
    color: rgba(30, 22, 54, 0.6); /* changeable */
    /* the color value in box-shadow property is chageable */
    box-shadow: rgba(30, 22, 54, 0.4) 0 0 0 0.14em inset;
}

a.btn2_2:hover {
    color: rgba(255, 255, 255, 0.85); /* changeable */
    /* the color value in box-shadow property is chageable */
    box-shadow: rgba(30, 22, 54, 0.7) 0 5.7em 0 0.14em inset;
}

/****/

/** button3 **/

.btn3{
  position: relative; 
  display: block; 
  width: 18em;  /* changeable -- be careful when changing this value, it might make text inside .txt1 or .txt2 unreadable */
  padding: 0; 
  border: none; 
  border-radius: 0.625em; /* changeable */
  font-size: 1.6rem; /* changeable */
  background-color: transparent;
  outline: none;
  overflow: hidden;
  z-index: 0; /* changeable -- when this value changed, change respectively:
  z-index property of .txt1 and txt2*/
}

.btn3 > .txt1{
  position: relative; left: 0;
  margin: 0; 
  width: 100%;
  padding: 0.5em 0em; 
  text-align: center; 
  color: white; /* changeable */
  background-color: #3D4C53; /* changeable */
  transition: all 0.3s ease;
  z-index: 1; 
}

.btn3 > .txt2{
  position: absolute; 
  top: 0; left: 0; 
  margin: 0; 
  width: 33%; /* changealbe -- if u wish to change this value, change also .btn3:hover > .txt1 left and widht properties respectively*/
  padding: 0.5em 0.1em; 
  text-align: center; 
  background-color: #26A69A; /* changeable */
  color: white; /* changeable */
  z-index: -1; 
}

.btn3:hover > .txt1{
  left: 33%;  
  width: 67%;
}

/****/

/* button4 */

.btn4 { /* this element also act as svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/
  font-size: 1.5rem;
  position: relative;
  /* changeable -- when this value changed, change respectively:
  width and height property of .shape and .svg*/
  width: 10em;
  height: 2.6em;
  border-radius: 0.2em;
  outline: none;
}

.btn4 > .svg{
  width: 10em; height: 2.6em;
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

.btn4 .shape {
  width: 10em; height: 2.6em;
  stroke-width: 0.6rem; /* changeable -- change this value to change thickness of stroke before the button hovered */
  fill: transparent; /* changeable -- change this value to change background color of the button */
  stroke: #009FFD; /* changeable -- change this value to change color of the base line  before the button hovered */
  stroke-dasharray: 85 400; /* the first value is changeable -- change this value to the width of stroke to left before the button hovered*/
  stroke-dashoffset: -220; /* changeable -- change this value to change the position of baseline */
  transition: 1s all ease;
}

.btn4 .txt {
  margin-top: -2.3em; /* changeable -- change this value to change margin of the text inside the button */
  text-align: center;
}

.btn4 .txt a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

.btn4 .spot {/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn4:hover .shape {
  stroke-dasharray: 50 0; /* the first value is changeable -- change this value to to change how many stroke shown when the button hovered */
  stroke-width: 0.4em; /* changeable -- change this value to the thickness of stroke when the button hovered */
  stroke-dashoffset: 0;
  stroke: #06D6A0; /* changeable -- change this value to change the stroke when the button hovered */
}

/****/

/* button5 */

.btn5_flip_to_top, .btn5_flip_to_bottom {
  width: 12.5em; /* changeable -- change this value to change the button's width */
  height: 5em;
  /* all duration value in these transitions property are changeable */
  font-size: 1.8rem;
  outline: none;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
  height: 5em;
}
/* Position the faces */
.default-state {
  -webkit-transform: translateZ(2.5em);
  -moz-transform: translateZ(2.5em);
  -ms-transform: translateZ(2.5em);
  -o-transform: translateZ(2.5em);
  transform: translateZ(2.5em);
}
.btn5_flip_to_top .active-state {
  -webkit-transform: rotateX(90deg) translateZ(7.5em);
  -moz-transform: rotateX(90deg) translateZ(7.5em);
  -ms-transform: rotateX(90deg) translateZ(7.5em);
  -o-transform: rotateX(90deg) translateZ(7.5em);
  transform: rotateX(90deg) translateZ(7.5em);
}
.btn5_flip_to_bottom .active-state {
  -webkit-transform: rotateX(-90deg) translateZ(-2.5em);
  -moz-transform: rotateX(-90deg) translateZ(-2.5em);
  -ms-transform: rotateX(-90deg) translateZ(-2.5em);
  -o-transform: rotateX(-90deg) translateZ(-2.5em);
  transform: rotateX(-90deg) translateZ(-2.5em);
}
/* Rotate the cube */
.btn5_flip_to_top:hover {
  -webkit-transform: rotateX(-89deg);
  -moz-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}
.btn5_flip_to_bottom:hover {
  -webkit-transform: rotateX(89deg);
  -moz-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  -o-transform: rotateX(89deg);
  transform: rotateX(89deg);
}

.default-state,
.active-state {
  font-family: 'Montserrat', sans-serif; /* changeable */
  font-size: 1.8rem; /* changeable -- change this value to change the button's text */
  font-weight: 400; /* changeable */
  line-height: 5em; /* changeable -- change this value to change the button's text top padding */
  text-align: center; /* changeable */  
  color: #fff; /* changeable -- change this value to change the button's text color */
  background: #2ecc71; /* changeable -- change this value to change the button's background color */
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}
 .btn5_flip_to_top:hover .default-state, .btn5_flip_to_bottom:hover .default-state{
  background: #27af61; /* changeable -- change this value to change the button's background color when hovered */
}
.active-state {
  background: #27af61; /* changeable -- change this value to change the button's flipped face background color when hovered */
}

/****/

/** button6 **/

.btn6{
  position: relative;
  border: none; /* changeable, removealbe */
  border-radius: 100%; 
  width: 7.143em; height: 7.143em; /* changeable */
  font-size: 1.4rem;
  color: #FFFFFF; /* changeable */
  background-color: #E91E63; /* changeable */
  box-shadow: 0 0.143em 0.357em 0 rgba(0, 0, 0, 0.26), 0 0.143em 0.714em 0 rgba(0, 0, 0, 0.22); /* changeable, removeable */
  outline: none;
  /* transition below can only be changed on transition-duration part */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn6:hover {
  background: #d81558; /* changeable */
  box-shadow: 0 0.357em 0.786em 0 rgba(0, 0, 0, 0.28), 0 0.286em 1.071em 0 rgba(0, 0, 0, 0.25); /* changeable, removeable */
}
.btn6 a{
  position: absolute;
  right: 60%; bottom: 30%; /* changeable */
  border-radius: 100%;
  width: 0%; height: 0%;
  padding-top: 27px; /* changeable */
  text-align: center;
  text-decoration: none;
  color: #FFFFFF; /* changeable */
  box-shadow: 0 0.143em 0.357em 0 rgba(0, 0, 0, 0.26), 0 0.143em 0.714em 0 rgba(0, 0, 0, 0.22); /* changeable, removeable */
  opacity: 0;
}

.btn6 .btn6-1{
  background: #55acee; /* changeable */
  /* transition below can only be changed on transition-duration and transition-delay part */
  -webkit-transition: all 0.3s linear 0.3s;
  -o-transition: all 0.3s linear 0.3s;
  -moz-transition: all 0.3s linear 0.3s;
  transition: all 0.3s linear 0.3s;
}
.btn6 .btn6-2{
  background: #dc4e41;
  /* transition below can only be changed on transition-duration and transition-delay part */
  -webkit-transition: all 0.3s linear 0.4s;
  -o-transition: all 0.3s linear 0.4s;
  -moz-transition: all 0.3s linear 0.4s;
  transition: all 0.3s linear 0.4s;
}
.btn6 .btn6-3{
  background: #3F3F3F; /* changeable */
  /* transition below can only be changed on transition-duration and transition-delay part */
  -webkit-transition: all 0.3s linear 0.5s;
  -o-transition: all 0.3s linear 0.5s;
  -moz-transition: all 0.3s linear 0.5s;
  transition: all 0.3s linear 0.5s;
}
.btn6:hover .btn6-1{
  right: 120%; /* changeable */
  bottom: 15%; /* changeable */
  width: 75%; height: 75%; /* changeable */
  opacity: 1;
}
.btn6:hover .btn6-2{
  right: 95%; /* changeable */
  bottom: 105%; /* changeable */
  width: 75%; height: 75%; /* changeable */
  opacity: 1;
}
.btn6:hover .btn6-3{
  right: 2%; /* changeable */
  bottom: 120%; /* changeable */
  width: 75%; height: 75%; /* changeable */
  opacity: 1;
}

/****/

/** button 7 **/
.btn7{
  width: 212.1px; /*changeable - change this value to change the button's width*/
  height: auto;
  margin: 7rem auto 0;
  text-align: center;
  background-color: transparent;
  -webkit-perspective: 700px;
     -moz-perspective: 700px;
      -ms-perspective: 700px;
          perspective: 700px;
}

/* Reset */
.btn7 > button {
  position: relative; top: 0;
  width: 100%; height: auto;
  padding: 0.6em 1.26em; /*changeable - change this value to change button's paddings (with em unit)*/
  border: 0;  
  border-radius: 0.133em; /*changeable - change this value to change button's border radius*/
  font-size: 3rem; /*changeable - change this value to change button's font size*/
  color: #fff; /*changeable - change this value to change button's text color*/
  background: rgb( 22, 230, 137); /*changeable - change this value to change button's background color, 
  if u do, make sure change background-color value at '.btn7:hover > button, button:focus' selector also (best with darker color)*/
  box-shadow: 0 0 0 transparent;
  outline: none;
  cursor: pointer; /*changeable*/
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.btn7:hover > button, .btn7 > button:focus{
  top: -0.333em;
  box-shadow: 0 0.333em 0.333em rgba( 15, 165, 60, 0.2 );/*changeable - only box-shadow-color that can be change, 
  change the value to change the box shadow color when the button is hovered*/
  background: rgb( 20, 224, 133);
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

/****/

/** button 8**/

.btn8 {
  z-index: 1;
  width: 2.286em; height: 2.286em; /*changeable - change this values to change button's width and height*/
  border: none;
  border-radius: 50%; /*changeable - change this values to change button's shape (default is cirle)*/
  font-size: 3.5rem;
  line-height: 1.1em;
  color: #1a1a1a; /*changeable - change this values to change button's text color*/
  background: #ed1c5b; /*changeable - change this values to change button's background color*/
  outline: none;
  /* property below manage the transition style of the button
  it manages the transition of the button's box shadows and the button's rotation.
  */
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}

.btn8:hover {
  -webkit-transform: rotate(45deg); /*changeable - change this values to change button's rotation when it's hovered*/
  transform: rotate(45deg);
  /* property below manage the 3 shadows of the button.
  each shadow's position is not moved.
  each shadow has blur 1px wide.
  each shadow's dimensions is getting bigger consequently by plus 15px.
  each shadow's color is getting more saturated consequently
  */
  box-shadow: 0 0 0.029em 0.429em rgba(138, 59, 88, 0.4), 0 0 0.029em 0.857em rgba(138, 59, 88, 0.1), 0 0 0.029em 1.286em rgba(138, 59, 88, 0.1);
}

/****/

/* form1 */
.form1 {
    display: block;
    width: 50%;
    padding: 0.375em 0.75em;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #495057;
    cursor: text;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form1:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn9{
  display: block; /*C*/
  padding: 1.5rem 0;
  border: 1px solid #F4F6Fb !important;
  border-radius: 6px !important;
  width: 20rem; /*C*/
  font-family: "Roboto",sans-serif; /*C*/
  font-size: 2rem; /*C*/
  text-align: center; /*C*/
  word-wrap: break-word;
  text-decoration: none;
  color: #007BFF; /*C*/
  background-color: transparent; 
  background-clip: border-box;
  box-shadow: 0 0 3px 1px rgba(2,39,119,0.17);
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn9:hover, .btn9:focus {
    box-shadow: 0 9px 30px 0 rgba(2,39,119,0.17);
}

.btn10{
    display: inline-flex; /*make the text inline*/
    flex-flow: column wrap;
    position: relative;
    align-items: center;
    font-size: 6rem; /*size of the text -C*/
    font-family: 'Tahoma'; /*font family of the text -C*/
    font-weight: bold; /*font weight of the text -C -R*/
    color: #FF2C75; /*color of the text -C*/
    background-color: #02001F; /*background color of the text -C*/
}

.text_1, .text_2{
    background-color: #02001F; /*this value must be the same with 'background-color' of '.btn10' selector -C*/
    transition: transform 0.3s ease, color 0.3s ease;
}

.text_2{
    position: absolute; overflow: hidden;
    height: 50%; padding: 0 10px;
}

/*this is the line that flow through the text whenever the text is hovered*/
.line_through{
    position: absolute; 
    border-bottom: 0.075em solid #FF2C75; top: 48%; width: 10%; 
    transform: scaleX(0); opacity: 0;
    transition: transform 0.8s ease, opacity 0.2s ease
}

/*Whenever the texts is hovered, it will be skewed, translated, and the color is changed*/
.btn10:hover > .text_1{
    transform: skewX(12deg) translateX(-0.12em); color: #FFD1E1;
}

/*Whenever the texts is hovered, it will be skewed and the color is changed*/
.btn10:hover > .text_2{
    transform: skewX(12deg); color: #FFD1E1;
}

/*make the line visible whenever the text is hovered*/
.btn10:hover > .line_through{
    transform: scaleX(11); opacity: 1;
}


/****/


